.billproduct-container{
    display: flex;
    justify-content: space-between;
    padding-right: 2vw;
    width: 95%;
}
.bill-label{
    position: relative;
    font-family: 'Inter';
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DCD7C9;
    height: 7.5vh;
    background: rgba(255, 255, 255, 0.27);
    border: 1px solid rgba(255, 255, 255, 0.15);
    /* backdrop-filter: blur(13.8px); */
    border-radius: 20px;
    width: 35%;

}
.quantity{
    width: 25%;
}


  .autocomplete input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
  }
  
  .autocomplete-results {

    position: absolute;
    z-index:  1000;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 20vh;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.27);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(13.8px);
    min-height: 0px;
    color: #DCD7C9;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
    list-style: none;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
.autocomplete-results::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.autocomplete-results{
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
  .autocomplete-results li {
    padding: 10px;
    cursor: pointer;
  }
  
  .autocomplete-results li:hover {
    background-color: #A27B5C;
  }
  
  .autocomplete-results li.active {
    background-color: #A27B5C;
    color: #DCD7C9;
  }
  .hide{
    display: none;
  }
/* 
.price-label{
    display: flex;
    justify-content: end;
    width: 10vw;
} */
