.billproduct-container{
    display: flex;
    justify-content: space-between;
    padding-right: 2vw;
    width: 95%;
}
.bill-label{
    position: relative;
    font-family: 'Inter';
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DCD7C9;
    height: 7.5vh;
    background: rgba(255, 255, 255, 0.27);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    width: 35%;
}
.quantity{
    width: 25%;
}



  
