body {
    padding: 0;
    margin: 0;
}

.addorder-page-container {
    /* height: 100%; */
    /* overflow-y: scroll; */
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    background: rgb(63, 78, 79);
    background: linear-gradient(90deg, rgba(63, 78, 79, 1) 25%, rgba(44, 54, 57, 1) 25%);
}

/* .empty-container {
    height:100vh;
    width: 100vw;
    background-color: red;
} */

.horizontal-line {
    width: 95%;
    height: 0px;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid white;
    backdrop-filter: blur(14px);
    z-index: 5;
    top: 15vh;
    left: 2.5vw
}

.addorder-left {
    position: relative;
    width: 35%;
    height: 100vh;
    background-color: #3F4E4F;


}

.addorder-right {
    position: relative;
    width: 65%;
    height: 100vh;
    background-color: #2C3639;

}

.place-order-form-container {
    padding-left: 2.5vw;
    position: absolute;
    top: 45%;
    width: 60vw;
    display: grid;
    grid-template-columns: 1fr;
}

/* .left-triangle{
    position: absolute;
    top: 38.5vh;
    left: 20.25vw;
    width: 0;
    height: 0;
    border: 20vh solid transparent;
    border-top: 0;
    border-right: 0;
    border-bottom: 50vw solid rgba(0, 0, 0, 0.21);
    transform: rotate(90deg);
    mix-blend-mode: normal;
    z-index: 1;
}
.right-triangle{
    position: absolute;
    top: 13.25vh;
    right: 18vw;
    width: 0;
    height: 0;
    border: 50vh solid transparent;
    border-top: 0;
    border-left: 0;
    border-bottom: 60vw solid rgba(0, 0, 0, 0.31);
    transform: rotate(-90deg);
    mix-blend-mode: normal;
    z-index: 1;

backdrop-filter: blur(13.8px); 
} */
.input-container {
    display: grid;
    grid-template-columns: 30% 65%;
    column-gap: 2.5vw;
    padding: 2.5vh 0;

}

.add-order-title-container {
    position: absolute;
    top: 25vh;
    left: 2.5vw;
    font-size: 25px;
    color: #A27B5C;
    font-family: 'Inter';
    font-weight: 700;
    z-index: 5;
}

.welcome-container-addproduct {
    display: flex;
    gap: 0.5vw;
    position: absolute;
    top: 17.5vh;
    right: 5vw;
    font-size: 20px;
}

.welcome-msg {
    font-family: 'Inter';
    font-weight: 700;
    color: #DCD7C9;
}

.welcome-name {
    font-family: 'Inter';
    font-weight: 700;
    color: #A27B5C;
}



.addproduct-input-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3vh;
    width: 100%;
    padding: 5vh 5vw;
}

.addproduct-form-container {
    position: relative;
    top: 30vh;
}

.placeorder-button {
    background-color: #3F4E4F;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #DCD7C9;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: 'Inter';
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5rem;
    position: absolute;
    top: -10vh;
    right: 0.5vw;
    text-align: center;
    text-decoration: none #DCD7C9 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

.placeorder-button:hover {
    background-color: #A27B5C;
}

.placeorder-button:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@media (min-width: 768px) {
    .placeorder-button {
        padding: .75rem 1.5rem;
    }
}

.addproduct-input {
    font-family: 'Inter';
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DCD7C9;
    height: 7.5vh;
    background: transparent;
    outline: none;
    border-radius: 20px;
    border: 0;
    text-indent: 2vw;
    width: 100%;
}



.label {
    position: relative;

    font-family: 'Inter';
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DCD7C9;
    height: 7.5vh;
    background: rgba(255, 255, 255, 0.27);
    border: 1px solid rgba(255, 255, 255, 0.15);

    border-radius: 20px;
    width: 100%;
}

.order-table-container {
    position: relative;

    z-index: 5;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 65vh;
    background: rgba(255, 255, 255, 0.27);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(13.8px);
    border-radius: 20px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* padding-bottom: 1.5vh; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.order-table-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.order-table-container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.ordercolumn-title-background {
    position: sticky;
    top: 0;
    height: 12vh;
    width: 100%;
    background: #A27B5C;
    padding-top: 5vh;
    margin-bottom: -10.5vh;
    z-index: 15;
}

.ordercolumn-title {

    top: 2.5vh;
    position: absolute;
    left: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    z-index: 6;
    width: 90%;
    height: 4vw;
    padding-top: 2vh;
    color: #DCD7C9;
    background: #A27B5C;
    border: 0px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(13.8px);

    padding-bottom: 1vh;
    z-index: 10;

}

.ordercolumn-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-weight: 700;

    text-align: center;
    font-size: 15px;
}

