.productlist-page-container {
    /* height: 100%; */
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    background: rgb(63,78,79);
background: linear-gradient(90deg, rgba(63,78,79,1) 25%, rgba(44,54,57,1) 25%);
}
/* .empty-container {
    height:100vh;
    width: 100vw;
    background-color: red;
} */

.horizontal-line {
    width: 95%;
    height: 0px;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid white;
    backdrop-filter: blur(14px);
    z-index: 5;
    top: 15vh;
    left: 2.5vw
}

.productlist-left {
    position: relative;
    width: 25%;
    height: 100vh;
    background-color: #3F4E4F;
    animation: transform-left 1s ease-in;

}

.productlist-right {
    position: relative;
    width: 75%;
    height: 100vh;
    background-color: #2C3639;
    animation: transform-right 1s ease-in;
}

.your-product-container {
    position: absolute;
    top: 30vh;
    left: 5vw;
    font-size: 25px;
    color: #A27B5C;
    font-family: 'Inter';
    font-weight: 700;
}

.welcome-container {
    display: flex;
    gap: 0.5vw;
    position: absolute;
    top: 20vh;
    right: 5vw;
    font-size: 20px;
}

.welcome-msg {
    font-family: 'Inter';
    font-weight: 700;
    color: #DCD7C9;
}

.welcome-name {
    font-family: 'Inter';
    font-weight: 700;
    color: #A27B5C;
}

@keyframes transform-left {
    0% {
        width: 50%;
    }

    100% {
        width: 25%;
    }
}

@keyframes transform-right {
    0% {
        width: 50%;
    }

    100% {
        width: 75%;
    }
}





.last {
    border-right: 0px;
}

.list-container {
    position: absolute;
    z-index: 5;
    top: 40vh;
    width: 95vw;
    height: 10vh;
}
.orderlist-column-title{
    position: absolute;
    left: 2.5vw;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    z-index: 6;
    width: 95vw;
    height: 4vw;
    padding-top: 2vh;
    color: #DCD7C9;
    background: #A27B5C;
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(13.8px);
    border-radius: 20px;
    padding-bottom: 1vh;
    
}

.column-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-weight: 700;
    border-right: 4px solid #DCD7C9;
    text-align: center;
    font-size: 15px;
}

.gradient-box {
    border-top-right-radius: 50%;
    height: 50vh;
    width: 25vw;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #2C3639;
    filter: blur(150px);
}

.title-container {
    padding-top: 2.5vh;
    padding-left: 5vw;
}

.title {
    font-family: 'Inter';
    font-weight: 700;
    color: #DCD7C9;
    font-size: 40px;
}


.searchBox {
    z-index: 20;
    position: absolute;
    top: 30%;
    left: 65%;
    cursor: pointer;
    background: #2f3640;
    height: 7.5vh;
    border-radius: 40px;
    padding: 10px;
    /* width: 20vw; */

}

.searchBox:hover>.searchInput {

    width: 20vw;
    padding: 0 ;
}

.searchBox:hover>.searchButton {
   
    background: white;
    color: #2f3640;
}

.searchButton {
    color: white;
    float: left;
    width: 2.5vw;
    height: 5vh;
    border: none;
    border-radius: 50%;
    background: #3F4E4F;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
    .searchBox:hover>.searchInput {
        width: 150px;
        padding: 0 6px;
    }
}

