.productlist-page-container{
    min-height: 100vh;
    display: flex;
}

.productlist-left {
    position: relative;
    width: 30%;
    height: 100vh;
    background-color: #3F4E4F;

}
.productlist-right {
    position: relative;
    width: 70%;
    height: 100vh;
    background-color: #2C3639;
    background-size: 100% 100%;
}
